[Desktop Entry]
Version=1.0
Name=GtkRadiant
Comment=idTech games level editor
GenericName=Radiant
Exec=gtkradiant %u
Terminal=false
StartupWMClass=Gtkradiant
Type=Application
Icon=/usr/share/gtkradiant/bitmaps/icon.png
Categories=GNOME;GTK;Games;
StartupNotify=true
